@import url(https://fonts.googleapis.com/css?family=Righteous:regular);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Urbanist:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #14110Eff;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 32px 0;
    background-color: rgba(28, 24, 20, 1);
    font-family: 'Inter';
}

.article {
    padding-top: 147px;
    padding-bottom: 166px;
    background-image: url("assets/Coffee.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-attachment: fixed;
}

.logo {
    margin: 0 15px;
}

.hero-main {
    max-width: 1110px;
    margin: 0 auto;
}

.block-column {
    column-count: 3;
    gap: 34px;
    padding-top: 140px;
}

.block {
    margin: 0 auto;
    padding-top: 140px;
}

.article-text {
    max-width: 1100px;
    margin: 0 auto;
}

.article-main-text {
    font-family: "Righteous";
    font-size: 72px;
    font-weight: 400;
    line-height: 93.6px;
    color: white;
    max-width: 530px;
}

.article-sub-text {
    font-family: "Urbanist";
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.8);
    padding-top: 32px;
    padding-bottom: 64px;
    max-width: 530px;
}

.hero-column {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.two-photo {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 285px;
}

.item-column {
    display: flex;
    flex-direction: column;
    max-width: 366px;
}

.hero-column-text {
    max-width: 542px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 56px;
    background-color: rgba(28, 24, 20, 1);
}

.hero-main-title {
    font-family: "Righteous";
    font-size: 48px;
    font-weight: 400;
    color: white;
}

.hero-main-text {
    font-family: "Righteous";
    font-size: 48px;
    font-weight: 400;
    color: white;
}

.hero-sub-text {
    font-family: "Urbanist";
    font-size: 16px;
    font-weight: 500;
    line-height: 28.8px;
    color: rgba(255, 255, 255, 0.6);
}

.product-stars {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 42px;
    gap: 20px;
    background-color: rgba(18, 19, 21, 1);
}

.article-button {
    padding: 24px 32px;
    background-color: #C99E71;
    border-radius: 2px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}

.hero-photo-block {
    display: flex;
    gap: 12px;
    padding-bottom: 24px;
}

.brown {
    color: rgba(201, 158, 113, 1);
}

.product-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.product-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 80px;
    background-color: rgba(28, 24, 20, 1);
}

.product-card-text {
    max-width: 520px;
}

.reservation-img {
    max-width: 550px;
}

.reservation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.reservation-block {
    max-width: 585px;
    padding: 72px 42px;
    background-color: rgba(28, 24, 20, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
}

.reservation-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 56px 0;
    width: -webkit-fill-available;
}

.reservation-form > input {
    padding: 16px;
    border-radius: 2px;
    border: none;
    background-color: rgba(20, 17, 14, 1);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;

}

.product-text-size {
    padding: 36px 0;
}

.product-columns {
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
}

.product-item {
    display: flex;
    align-items: center;
    flex: 1 1 calc(50% - 36px);
    padding: 24px;
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box; 
}

.product-img { 
    display: flex;
    align-items: center;
    width: 72px;
    min-width: 72px;
    padding-right: 20px;
}

.product-price {
    margin-left: auto;
}

.testimonial-container {
    text-align: center;
    width: 80%;
}

.testimonial-slider {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-top: 56px;
}

.testimonial-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 600%;
    gap: 40px;
}

.testimonial {
    padding: 40px;
    background-color: rgba(28, 24, 20, 1);
    min-width: 535px;
}

.testimonial-img {
    display: flex;
    max-width: 485px;
    gap: 24px;
}

.testimonial-img-size {
    width: 130px;
}

.author-info {
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
}

.progress-container {
    padding-top: 36px;
    max-width: 1110px;
    display: flex;
    justify-content: space-between;
}

.brown-bar { 
    width: 20%; 
    height: 4px;
    border-radius: 3px;
    background-color: rgba(201, 158, 113, 1);
    transition: width 0.5s ease-in-out; 
}

.progress-bar {
    width: 120px; 
    height: 4px;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 3px;
    position: relative; 
}


.progress-button {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: rgba(18, 19, 21, 1);
    margin-left: 12px;
    border: none;
    cursor: pointer;
}

.progress-button:hover {
    transition: all 0.3s ease-in-out;
    background-color: rgba(201, 158, 113, 1);
}

.progress-button:active {
    transition: all 0.1s ease-in-out;
    background-color: rgba(201, 158, 113, .3);
}

h2 {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
}

h4 {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #C99E71;
}

.nav ul {
    display: flex;
    gap: 48px;
    list-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
}

i {
    font-size: 18px;
    color: #FFFFFF;
}

.hide_button {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.product:hover .hide {
    display: none;
    visibility: hidden;
}

.product:hover .hide_button {
    display: flex;
    visibility: visible;
    max-height: 49px;
    gap: 12px;
    align-items: center;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* @keyframes fadeOut {    doesn't work
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        display: none; 
    }
} */

.hide_button {
    animation: fadeIn 0.5s ease forwards; 
}   

/* .product:not(:hover) .hide_button {
    animation: fadeOut 0.5s ease forwards; 
}  */

.coffee-photo {
    display: flex;
    max-width: 226px;
}

.product img {
    max-width: 100%;
    height: auto;
}

.custom-img {
    max-width: 100%;
}

#map {
    height: 100%;
  }

@media (max-width: 1000px) {
    .article {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero-column {
        flex-direction: column-reverse;
        align-items: center;
    }
    .two-photo-direction {
        flex-direction: row;
        align-items: stretch;
    }
    .hero-column-text {
        max-width: 615px;
    }
    .hero-column-direction {
        flex-direction: row;
    }
    .hero-column-direction {
        flex-direction: column;
    }
    .block-column {
        column-count: 1;
    }
    .item-column {
        padding-top: 20px;
        max-width: 280px;
        margin: 0 auto;
    }
    .article-text {
        margin: 0 auto;
    }

    .product-card {
        max-width: 610px;
        margin: 0 auto;
        gap: 24px;
    }
    .product-columns {
        padding: 0 40px;
    }
    .product-card-text > button {
        width: 100%;
    }
    .coffee-photo {
        max-width: 200px
    }
}

@media (max-width: 500px) {
    .hero-main-text {
        padding: 0 24px;
    }
}