@import url(https://fonts.googleapis.com/css?family=Righteous:regular);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Urbanist:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 300px;
    background-color: rgba(28, 24, 20, 1);
    font-family: 'Inter';
}

.hero-upper {
    padding: 0 375px;
    padding-top: 147px;
    padding-bottom: 166px;
    background-image: url("assets/Coffee.jpg");
    background-position: bottom right;
    background-size: cover;
}

.hero-main {
    padding: 0 375px;
    background-color: #14110Eff;
}

.block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 34px;
    padding-top: 140px;
}

.hero-text {
    max-width: 530px;
}

.hero-upper-text {
    font-family: Righteous;
    font-size: 72px;
    font-weight: 400;
    line-height: 93.6px;
    color: white;
}

.hero-upper-sub-text {
    font-family: "Urbanist";
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.8);
    padding-top: 32px;
    padding-bottom: 64px;
}

.hero-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.two-photo {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: max-content;
}

.custom-img-column {
    width: 238px;
}

.hero-column-text {
    max-width: 462px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 56px;
    background-color: rgba(28, 24, 20, 1);
}

.hero-main-text {
    font-family: "Righteous";
    font-size: 48px;
    font-weight: 400;
    
    color: white;
}

.hero-sub-text {
    font-family: "Urbanist";
    font-size: 16px;
    font-weight: 500;
    line-height: 28.8px;
    color: rgba(255, 255, 255, 0.6);
}

.product-stars {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 42px;
    gap: 20px;
    background-color: rgba(18, 19, 21, 1);
}

.hero-button {
    padding: 24px 32px;
    background-color: #C99E71;
    border-radius: 2px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}

.hero-photo-block {
    display: flex;
    gap: 12px;
    padding-bottom: 24px;
}

.brown {
    color: rgba(201, 158, 113, 1);
}

h2 {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    color: #FFFFFF;
}

h4 {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #C99E71;
}

ul {
    display: flex;
    gap: 48px;
    list-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
}

i {
    cursor: pointer;
    font-size: 18px;
    color: #FFFFFF;
}

.custom-img {
    width: 322px;
    height: auto;
    max-width: 100%; 
}

@media (max-width: 1700px) {
    .custom-img {
        width: 310px;
        height: auto;
        max-width: 100%;
    }
}


@media (max-width: 768px) {
    .block {
        flex-direction: column;
    }
}

